{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 version"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-custom-element-classes",
    "@babel/plugin-transform-classes"
  ]
}
