{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 version"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-custom-element-classes",
    "transform-es2015-classes"
  ]
}
